@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
        @apply rounded-xl shadow-lg
    }
}

#root {
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
}
